.foto-perfil {
    max-width: 250px;
    max-height: 180px;
    border-radius: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

body {
    background-color: rgb(5, 23, 83);
}

.topbar {
    background-color: rgb(2, 2, 2);
    overflow: hidden;
}

.topbar a {
    float: right;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 25px;
}

.sidebar {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 100%;
}

.sidebar a {
    margin-left: 10px;
    display: block;
    color: whitesmoke;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
}